// Define variables for your color scheme

// For example:
$red: #FB5660;
$blue: #303481;
$yellow: #FCE38A;
$orange: #E67E22;
$green: #1B4B36;
$gray: #000000;
$light-gray: rgb(230, 230, 230);
$dark-gray: rgb(50, 50, 50)
